h5{
	opacity: 0.50;
	line-height: 50%;

}
h2 {
	color:  #338FFF;
	font-size: 30px;
	text-align: left;
	line-height: 250%;
}
h1 {
	color: #338FFF;
	font-size: 40px;
}
body {
	background-color: #E1E1E1
	margin-right:5%;
	margin-left:5%;
}
img{
	right: 10px;
	display: block; 
	width : 150px; height : 150px;
  	border: none;
  	-moz-border-radius : 75px;
  	-webkit-border-radius : 75px;
 	 border-radius : 75px;
 	 position:absolute;
 	 top: 27px;
 	float:left;
 	margin-right: 5%; 

}
